.official-con {
  grid-area: intro;
  /* display: flex; */
  margin-left: 8rem;
}
.official {
  display: flex;
  /* border: 1px red solid; */
}
.official-con > hr {
  width: 50vw;
  margin-top: 10px;
}
.intro-text {
  display: flex;

  width: 600px;
  /* height: 190px; */
  flex-direction: column;

  margin-left: 2rem;
  /* border: 1px solid blueviolet; */
}
.uploads {
  display: flex;
  /* border: 1px solid red; */
  width: 15rem;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}
