.main-box {
  grid-area: main-box;
  display: flex;
  justify-content: left;
  /* align-items: center; */
  flex-wrap: wrap;
  margin-right: 20rem;

  /* border: 1px solid blue; */
}
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10 {
  display: flex;
  flex-direction: column;
  margin: 5px;

  border: 1px solid red;
}
/* .box1 > img {
  width: 10rem;
  height: 10rem;
} */
