.profile {
  grid-area: profile;

  border: 1px solid greenyellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile > div > img {
  border-radius: 50%;
}
.sub > input {
  background-color: crimson;
  color: aliceblue;
  width: 10rem;
  height: 2rem;
  margin-right: 2rem;
}
.profile-pic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15rem;
  margin-left: 8rem;
  border: 1px solid blueviolet;
}
.profile-menu {
  grid-area: profile-menu;
  border: chocolate 1px solid;
}
.profile-menu ul {
  display: flex;
  list-style: none;
  align-items: center;
  border: chocolate 1px solid;
  width: 40rem;
  justify-content: space-around;
  margin-left: 8rem;
  font-size: 20px;
  color: gray;
}
