header {
  display: flex;
  justify-content: space-between;
  grid-area: top;
  align-items: center;
  border: 1px red solid;
  width: 95vw;
  margin-right: 25px;
}

.y-logo {
  width: 80px;
  height: 80px;
}
.signin {
  display: flex;
  border: 1px blue solid;
  color: blue;
  padding: 10px;
}
.signin i {
  margin-right: 10px;
}
a {
  text-decoration: none;
  color: blue;
}
