.top-pic {
  border: 2px solid blue;
  grid-area: top-pic;
  display: flex;
  align-items: center;
  /* background-image: url(../images/images6.jpeg);
  background-size: cover;
  background-position: 1px 1px; */
}
.top-pic img {
  width: 85vw;
  height: 25vh;
  /* margin-left: 150px; */
}
.top-pic :nth-child(2) {
  border: 1px solid greenyellow;
}
